
[mgr]
ratio          = [ 1, 4, 3 ]
sort_by        = "extension"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "size"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "yes"
tab_size        = 2
max_width       = 800
max_height      = 1200
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]


[opener]
edit = [
	{ run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
  # { run = 'zaread "$@"', orphan = true, desc = "zaread", for = "linux" },
  # { run = 'gimp "$@"', orphan = true, desc = "gimp", for = "linux" }
]
open = [
	{ run = 'xdg-open "$1"',                desc = "Open", for = "linux" },
  # { run = 'zaread "$@"', orphan = true, desc = "zaread", for = "linux" },
  { run = 'gimp "$@"', orphan = true, desc = "gimp", for = "linux" }
]
pdff = [
	{ run = 'zathura "$@"',                desc = "zathura", orphan = true, for = "linux" },
]
reveal = [
	{ run = 'xdg-open "$(dirname "$1")"',           desc = "Reveal", for = "linux" },
	{ run = '''exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF", for = "unix" },
]
extract = [
	{ run = 'ya pub extract --list "$@"', desc = "Extract here", for = "unix" },
]
audio = [
	{ run = 'vlc "$@"', orphan = true, for = "unix" },
	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
play = [
	{ run = 'xdg-open "$1"',                desc = "Play", for = "linux" },
	{ run = 'vlc "$@"', orphan = true, for = "unix" },
	{ run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
	{ run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
document = [
  { run = 'zathura "$@"', orphan = true, desc = "zathura", for = "linux" },
  # { run = 'libreoffice "$@"', orphan = true, desc = "libreoffice", for = "linux" },
  # { run = 'zaread "$@"', orphan = true, desc = "zaread", for = "linux" }
]

[open]
rules = [
	# Folder
	{ name = "*/", use = [ "edit", "open", "reveal" ] },
	# Text
	{ mime = "text/*", use = [ "edit", "reveal" ] },
	# Image
	{ mime = "image/*", use = [ "open", "reveal" ] },
	# Media
	{ mime = "{audio,video}/*", use = [ "play", "reveal" ] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
	# JSON
	{ mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
	{ mime = "*/javascript", use = [ "edit", "reveal" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },
	#PDF
	{ mime = "application/pdf", use = [ "pdff", "reveal" ] },
	# Fallback
	{ name = "*", use = [ "open", "reveal" ] },
  # { mime = "application/pdf", use = "document" },
]

[plugin]
prepend_preloaders = [
  # Replace magick, image, video with mediainfo
{ mime = "{audio,video,image}/*", run = "mediainfo" },
{ mime = "application/subrip", run = "mediainfo" },
  # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
{ mime = "application/postscript", run = "mediainfo" },
# { name = "*.cb[7rz]", run = "comicthumb" },
]
prepend_previewers = [
  # Replace magick, image, video with mediainfo
{ mime = "{audio,video,image}/*", run = "mediainfo"},
{ mime = "application/subrip", run = "mediainfo" },
  # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
{ mime = "application/postscript", run = "mediainfo" },
# { name = "*.cb[7rz]", run = "comicthumb" },
]
# There are more extensions which are supported by mediainfo.
# Just add file's MIME type to `previewers`, `preloaders` above.
# https://mediaarea.net/en/MediaInfo/Support/Formats

# For a large file like Adobe Illustrator, Adobe Photoshop, etc
# you may need to increase the memory limit if no image is rendered.
# https://yazi-rs.github.io/docs/configuration/yazi#tasks
[tasks]
  image_alloc      = 1073741824        # = 1024*1024*1024 = 1024MB
